/* fonts  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-normal {
    font-family: "Poppins", sans-serif;
}
.nav-title {
    color: rgb(58, 58, 58);
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0px;
}
.nav-discription {
    color: rgb(58, 58, 58);
font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
nav ul {
    display: flex;
}
nav ul li{
    list-style: none;
    margin-right: 10px;
}
nav ul li a {
    text-decoration: none;
}
.banner-btn {
    border-radius: 41px;
    background: rgb(224, 44, 109);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
}
/* shared style */
.my-color {
    color: rgb(58, 58, 58);
}
/* banner style */

.banner {
    display: flex;
    justify-content: space-between;
    margin: 50px 150px 50px 200px;
    background-image: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: right;
    padding:50px;
}
.banner-pic {
    width: 440px;
}
.banner-content {
    width: 582px;
}
.banner-title {
    color: rgb(58, 58, 58);
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0px;
}

.banner-discription {
    color: rgb(58, 58, 58);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}
main section {
    margin-top: 130px;
    margin-bottom: 130px;
}

/* company style */
.company {
    
    display: grid;
    grid-template-columns: repeat(7 , 1fr);
    gap: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    align-items: center;
    
}

