/* fonts  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-normal {
    font-family: "Poppins", sans-serif;
}
.nav-title {
    color: rgb(58, 58, 58);
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0px;
}
.nav-discription {
    color: rgb(58, 58, 58);
font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
nav ul {
    display: flex;
}
nav ul li{
    list-style: none;
    margin-right: 10px;
}
nav ul li a {
    text-decoration: none;
}
.banner-btn {
    border-radius: 41px;
    background: rgb(224, 44, 109);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
}
/* shared style */
.my-color {
    color: rgb(58, 58, 58);
}
/* banner style */

.banner {
    display: flex;
    justify-content: space-between;
    margin: 50px 150px 50px 200px;
    background-image: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: right;
    padding:50px;
}
.banner-pic {
    width: 440px;
}
.banner-content {
    width: 582px;
}
.banner-title {
    color: rgb(58, 58, 58);
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0px;
}

.banner-discription {
    color: rgb(58, 58, 58);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}
main section {
    margin-top: 130px;
    margin-bottom: 130px;
}

/* company style */
.company {
    
    display: grid;
    grid-template-columns: repeat(7 , 1fr);
    gap: 40px;
    border: 1px solid #ccc;
    padding: 40px;
    align-items: center;
    
}

/* card style */

.card-title {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

.card-name {
    color: rgb(24, 25, 31);
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0%;
}
.card-price {
    color: rgba(0, 0, 0, 0.87);
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
}
.card-sub-price{
    color: rgb(94, 99, 102);
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.1px;

}
.card-discription{
    color: rgb(120, 120, 133);
    font-size: 14px;
    font-weight: 700;
    line-height: 143%;
    letter-spacing: 1.8%;
}

.card-items {
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 16px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}
.card-img {
    font-size: 1.5em;
    margin: 10px 0;
}


/* info style */

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}
.info-content {
    width: 600px;
}
/* .info-pic {
    width: 400px;
} */
.info-title {
    color: rgb(10, 8, 38);
    font-size: 38px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0px;
}
.info-discription {
    color: rgb(108, 108, 108);
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
}
.info-btn {
    background-color: rgb(224, 44, 109);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
}
.info-container{
    display: flex;
    justify-content: space-between;
    width: auto;

}

/* footer style */
.footer-container {
    background-color: black;
    text-align: center;
    margin-top: 40px;
    border: 1px solid red;
}

.footer-content {
    margin: 50px 0;
}
/* .footer-content {
    width: 500px;
} */
.footer-title {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0px;
}

.footer-sub-title {
    color: rgb(217, 219, 225);
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
}
.footer-discription {
    color: rgb(217, 219, 225);
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
}

.s-icons {
}
footer ul {
    display: flex;
    justify-content: center;
}

footer ul li {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    margin: 10px;
    
}